

<body bgcolor="#E6E6FA">

<center>
<h1>이번 행운의 번호는?!</h1>

<h1>
<%= image_tag @one %>
<%= image_tag @two %>
<%= image_tag @three %>
<%= image_tag @four %>
<%= image_tag @five %>
<%= image_tag @six %></h1>



<button onclick="myFunction()">다시뽑기</button>

<script>
function myFunction() {
    location.reload();
}
</script>

</center>
</body>


<!-- <h1><%= @random %></h1>
-->

